CLIENT_URL=0.0.0.0:8000
WEB_CONCURRENCY=2
RAILS_MAX_THREADS=5
DEVISE_JWT_SECRET_KEY=replace-this-key-with-a-secret
ADMIN_EMAIL=demo@zauberware.com
ADMIN_PASSWORD=demo123
ADMIN_FIRST_NAME=John
ADMIN_LAST_NAME=Doe