<p>Hallo <%= @resource.email %>!</p>

<p>Jemand hat einen Link angefordert, um dein Passwort zu 채ndern. Du kannst dies 체ber den untenstehenden Link tun.</p>

<p><%= link_to 'Passwort 채ndern', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Wenn Sie dies nicht initiiert haben, ignorieren Sie bitte diese E-Mail.</p>
<p>Ihr Passwort wird sich erst 채ndern, wenn Sie auf den obigen Link zugreifen und ein neues erstellen.</p>
